body {
    background-color: #333;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-image: url("../images/255944.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position-y: -130px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #5d4954;
    font-family: 'Poppins', sans-serif;
}

.logo{
    color: rgb(216, 216, 216);
    text-transform: uppercase; 
    letter-spacing: 5px;
    font-size: 12px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 35%;
}

.nav-links li{
    list-style: none;
}
.nav-links a{
    color: rgb(216, 216, 216);
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 10px;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(216, 216, 216);
    margin: 5px;
    border-radius: 15%;
}

